
.bandSelection {
	.modal {
		width: 75%;
		border: 2px solid $purple;
		input[type="radio"]{
			display: none;
		}
		input[type="submit"] {
			position: absolute;
		    bottom: 85px;
		    left: 50%;
		    transform: translateX(-50%);
		}
	}
}
.concertResults {
	border-top: 1px solid $grey;
	padding-bottom: 15px;
	flex: 1 0 auto;

	label {
		background-color: $purple;
		border-radius: 20px;
		padding: 10px 30px;
		margin-right: 10px;
		margin-bottom: 20px;
		color: $grey;
		transition: ease all .3s;
		&:hover {
			color: $orange;
			cursor: pointer;
			background-color: rgba(76,6,29, .8);
		}
	}
	input[type="radio"]:checked + label {
		color: $orange;
		cursor: pointer;
		background-color: rgba(76,6,29, .8);
	}
}

.bandButtons {
	display: flex;
	flex-wrap: wrap;
}

.theConcerts {
	h2 {
		color: $purple;
		text-align: center;
		font-family: $headerText;
	}
}


