button {
	background: $orange;
	border: none;
	border-radius: 3px;
	padding: 15px;
	font-family: $headerText;
	color: $purple;
	margin-top: 20px;
	transition: ease all .4s;
	text-transform: uppercase;
	&:hover {
		background-color: $purple;
		color: $orange;
	}
}

