footer {
	font-family: $bodyText;
	display: flex;
	font-size: 10px;
	flex-direction: row;
	justify-content: space-between;
	bottom: 0px;
	width: 100%;
	text-align: center;
	padding: 0 15px;
	position: absolute;
	background-color: rgba(0,0,0,.8);
	height: 55px;
	margin: 0;
	.credit {
		text-align: right;
		font-family: $bodyText;
		margin-top: 5px;
		ul {
			list-style: none;
			li {
				color: $grey;
			}
		}
	}
	.contactUs {
		h6 {
			font-family: $headerText;
			font-size: 12px;
			color: $grey;
			padding: 0;
			text-align: left;
			margin-bottom: 5px;
			margin-top: 8px;
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			padding: 0;
			margin-bottom: 0;
			margin-top: 5px;
			li {
				text-align: left;
				font-family: $bodyText;
				font-size: 10px;
				padding-right: 25px;
				.fa {
					font-size: 14px;
					padding: 0 2px;
				}
			}
		}
	}
	p {
		margin: 3px;
		color: $grey;
	}
	a {
		text-decoration: none;
		color: white;
		transition: ease color .3s;
		color: $grey;
		&:hover {
			color: $orange;
		}
	}
}

