footer {
	font-family: $bodyText;
	display: flex;
	font-size: 10px;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	ul {
		list-style: none;
		display: flex;
		li {
			text-align: left;
		}
	}
	p {
		margin: 3px;
		color: $grey;
	}
	a {
		text-decoration: none;
		color: white;
		transition: ease color .3s;
		color: $grey;
		&:hover {
			color: $orange;
		}
	}
}
