footer {
	font-family: $bodyText;
	display: flex;
	font-size: 10px;
	flex-direction: column;
	text-align: center;
	position: absolute;
	bottom: 0;
	p {
		margin: 3px;
	}
	a {
		text-decoration: none;
		color: white;
		transition: ease color .3s;
		&:hover {
			color: $orange;
		}
	}
}
