#loadScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 100vh;
	p {
		font-family: $headerText;
		font-size: 20px;
	}
}

.pulse {
	animation-name: pulse;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	text-align: center;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}