@import "_normalize";
@import "_reset";
@import "_variables";
@import "_buttons";
@import "_media";

body {
	background-image: linear-gradient(rgba(5,5,5,.5),rgba(5,5,5,.5)),url(../../assets/concert-img.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $bodyText;
	color: white;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1, h2 {
		font-family: $headerText;
		color: white;
		margin: 0;
		padding: 0 0 10px 0;
	}
	h1 {
		font-size: 80px;
	}
}

.logo {
	position: absolute;
	top: 10px;
	left: 80px;
	h4{
		font-family: $headerText;
		color: $orange;
		font-size: 40px;
	}
}

.locationInput {
	.citySearch {
		text-align: center;
	}
	.search {
		width: 250px;
		font-weight: bold;
	}
}

input[type=submit] {
	font-weight: bold;
}

.bandSelection {
	h2 {
		font-size: 18px;
	}
}