@import "_normalize";
@import "_reset";
@import "_variables";
@import "_buttons";
@import "_searchSection";
@import "_footer";
@import "_bandSection";
@import "_loading";

body {
	background-image: linear-gradient(rgba(5,5,5,.6),rgba(5,5,5,.6)),url(../../assets/festival.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $bodyText;
	color: white;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-family: $headerText;
		color: white;
		margin: 0;
		padding: 0 60px;
		text-transform: uppercase;
		color: $grey;
	    text-align: center;
	}
	.mainLogo {
		width: 75%;
		max-width: 700px;
	}
}

h4 {
  font-family: $headerText;
  font-size: 20px;
}

.logo {
	position: absolute;
  cursor: pointer;
	top: 10px;
	left: 80px;
	img {
		width: 30%;
	    margin-top: 25px;	
	}
}

.locationInput {
	.citySearch {
		text-align: center;
	}
	.search {
		width: 250px;
		font-weight: bold;
	}
}

input[type=submit] {
	font-weight: bold;
}

.bandSelection {
	h2 {
		font-size: 18px;
	}
}

.noplaylistresults, .noconcertsresults {
  display: none;
}

.allPlayLists {
  text-align: center;
  .playlist {
    display: inline-block;
    margin: 10px;
  }
}

.modal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 280px;
  height: 60vh;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
  color: $purple;
  background: rgba(198,197,185, .9);
  h3 {
    font-family: $headerText;
  }
  .overflow {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
  }
}



@import "_media";